
$background-color-primary: #9754CB;
$primary-color: #28104E;
$secondary-color: #f6f6f6;
$color-text-primary: $secondary-color;
$color-skills-percentage: blue;
$color-primary-text-navbar: $primary-color;
$color-secondary-text-navbar: #f393a4;
$background-color-navbar: $background-color-primary;
$color-line-skills: #96BEBD;
$height-container-photo: 25rem;
$hover-footer: #DEACF5;
$primary: #FD665C;
$secondary: #6237A0;
$white: #fff;
$gray: #9b9b9b;
$purple: #DEACF5;
// variable para el alto de la navbar
$height-navbar: 5rem;
// variable para el margen izquierdo de componentes en vista mobile
$padding-base-mobile: 1.5rem;
$padding-base-medium: 3rem;
$padding-base-large: 5rem;
// ancho de los componenetes
$width-min-medium: 60vw;
// 
$font-size-home-span: 1.2rem;
$padding-bottom-component: 4rem;
// 
$h1-title-mobile: 3rem;
$h1-title-large: 5rem;
$max-width-container-description-mobile: 25rem;
$max-width-container-description-large: 35rem;
$width-photo: 40vw;
//altura del footer
$max-width-movile: 100vw;
$height-footer:15vh;




$breakpoints: (
    small: 380px,
    medium: 767px,
    large: 1025px,
    xl: 1300px,
)