// @import "vars";
@import "../sassVariables/variables.scss";

@media (max-width: (map-get($breakpoints, medium))) {
    body {
        background-color: salmon;
    }
    .container{
        background-color: blue; 
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: center; 
        align-items: center;
        padding-left: $padding-base-mobile;
        padding-bottom: 2rem;
        // margin-top: 4.2rem !important;
        // z-index: 2;
        .vl {
            border-left: 3px solid green;
            height: 3rem;
            margin: 0 0 1rem 0;
        }
    }
    .containerGrap{
        // height: 25rem;
        .containerTitle{
            // background-color: blueviolet;
            background-color: red;
            h2{
                font-size: 3rem;
                font-family: 'Open Sans ';
                // line-height: 3rem;
            }
        }
        .containerFirstDescription , .containerSecondDescription{
            font-size: 1.3rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
        }
        .containerFirstDescription{
            width: 90%;
            background-color: rgb(94, 107, 35);
            text-align: start;
            font-weight: 700;
            margin-bottom: 1rem;
            .fristDescription{
                span{
                    line-height: 1rem;
                }
            }
                    
        }
        .containerSecondDescription{
            // width: 98%;
            background-color: seagreen;
        }
    }
}

@media (min-width: (map-get($breakpoints, medium))) and (max-width: (map-get($breakpoints, large))-1){
    // body {
    //     background-color: salmon;
    // }
    .container{
        background-color: blue;
        width: $width-min-medium ;
        height: 25rem ;
        // position: absolute;
        display: flex;
        // justify-content: center; 
        // align-items: center;
        // top: 10px;
        // margin-top: $height-navbar;
        padding-left: $padding-base-medium;
        padding-bottom: 1.5rem;
        // z-index: 99;
    }
}

@media (min-width: (map-get($breakpoints, large))) {
    .container{
        background-color: blue;
        width: $width-min-medium ;
        height: 25rem ;
        // position: absolute;
        display: flex;
        // justify-content: center; 
        // align-items: center;
        // top: 10px;
        // margin-top: $height-navbar;
        padding-left: $padding-base-large;
        padding-bottom: 1.5rem;
        // z-index: 99;
    }
}

// .container{
//     background-color:lightcoral; 
//     width: 50vw;
//     height: 40rem;
//     display: flex;
//     justify-content: center;
//     .containerGrap{
//         width: 90%;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-around;
//         margin-bottom: 1rem;
//         // align-items: center; 
//     }
//     .containerTitle{
//         // align-self: flex-start;
//         display: flex;
//         justify-content: center;
//         text-align: start;
//         width: fit-content;
//         margin: 0;
//         // height: 5rem;
//         background-color: red;
//         // line-height: 5rem;
//     }
//     h2{
//         background-color: lightcyan;
//         font-size: 4rem;
//     }
//     .vl {
//         border-left: 6px solid green;
//         height: 5rem;
//     }
//     span{
//         font-size: 1.3rem;
//     }
//     .containerFirstDescription{
//         background-color: royalblue;
//         text-align: start;
//         .fristDescription{
//             font-weight: 600;
//             // background-color: salmon;
//         }
//     }
//     .containerSecondDescription{
//         background-color: red;
//         text-align: start;
//         // .secondDescription{
//         //     // background-color: royalblue;
//         // }
//     }
// }