@import "../sassVariables/variables.scss";

@media (min-width: (map-get($breakpoints, large))) {
    .container{
    background-color:$primary-color;
    width: $width-min-medium;
    // width: 110%;
    height: fit-content;
    text-align: left;
    padding-left: $padding-base-large;

        .elements{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            // margin-left: 5rem;
            margin-right: 5rem;
            margin-top: 3rem;

            h1{
                font-family: 'Crimson Pro', serif;
                font-size: 3rem;
                color:$color-text-primary;
            }

            .line {
                //width: 0.5rem;
                height: 6rem;           
                border-left: 0.15rem solid $color-text-primary ;                   
            }

            p{
                color: $color-text-primary;
            }
    }
    }
}